body {
  background-color: #202628 !important;
  color: #fff !important;
}

a.logo-link,
.nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

a.navbar-brand.logo-link {
  width: 130px;
}

.nav-item .nav-link {
  font-size: 25px;
}

.navbar-nav .nav-item .nav-link.active {
  color: #fff;
  text-decoration: underline;
}

.navbar-collapse {
  display: block;
  z-index: 999;
  position: relative;
  background: #32383d;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img.logo {
  width: 100%;
}

.container .navbar {
  background-color: #32383d;
  border-radius: 12px;
  padding: 12px 36px;
  height: 166px;
  margin-top: 18px;
}

.navbar-nav {
  gap: 28px;
  margin-left: 40px;
}

.content-body {
  padding: 30px 0;
}

.content-body h1 {
  margin-bottom: 1em;
}

.avatar img {
  width: 100%;
}

.name,
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2em;
}
.position {
  color: #9ba7ad;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.availability {
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 1.5em;
  position: relative;
  padding-left: 25px;
}

.availability::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #35f37e;
  left: 0;
  top: 10px;
}

.button-wrapper {
  grid-column-gap: 18px;
  display: flex;
}

.col-md-2.badge.text-bg-light.skill-tab {
  padding: 14px;
  font-size: 16px;
  margin: 10px;
}

.footer {
  background-color: #32383d;
  border-radius: 12px;
  padding: 12px 36px;
  text-align: center;
}

.linkedin,
.github {
  display: inline-block;
  margin: 10px;
  position: relative;
}
.linkedin-icon,
.github-icon {
  color: #9ba7ad;
}
.linkedin-icon:hover,
.github-icon:hover {
  color: #fff;
}

.project-item {
  border: 1px solid #485159;
  border-radius: 12px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  display: flex;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  background-color: #32383d;
}

.project-item:hover {
  background-color: #2d3034;
}

.project-image {
  width: 156px;
  height: 118px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #9ba7ad;
}

.project-image img {
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: transform 0.5s ease-out;
}

.project-item:hover .project-image img {
  transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.project-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}

.project-info {
  padding-left: 20px;
}

.project-top,
.project-bottom {
  margin-bottom: 10px;
}

.download h5 {
  margin: 0 0 40px 0;
}

.download a,
.live {
  color: #9ba7ad;
  text-decoration: none;
}

.download a:hover,
.live:hover {
  color: #fff;
}

.live {
  margin-right: 10px;
}

.contact-form label {
  display: block;
  font-size: 20px;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #485159;
  border-radius: 5px;
  width: 50%;
  padding: 5px;
}

.contact-form > div {
  margin-bottom: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
