body {
  background-color: #202628 !important;
  color: #fff !important;
}

a.logo-link,
.nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

a.navbar-brand.logo-link {
  width: 130px;
}

.nav-item .nav-link {
  font-size: 25px;
}

.navbar-nav .nav-item .nav-link.active {
  color: #fff;
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img.logo {
  width: 100%;
}

.container .navbar {
  background-color: #32383d;
  border-radius: 12px;
  padding: 12px 36px;
  height: 166px;
  margin-top: 18px;
}

.navbar-nav {
  gap: 28px;
  margin-left: 40px;
}

.content-body {
  padding: 30px 0;
}

.avatar img {
  width: 100%;
}

.name,
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2em;
}
.position {
  color: #9ba7ad;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.availability {
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 1.5em;
  position: relative;
  padding-left: 25px;
}

.availability::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #35f37e;
  left: 0;
  top: 10px;
}

.button-wrapper {
  grid-column-gap: 18px;
  display: flex;
}

.col-md-2.badge.text-bg-light.skill-tab {
  padding: 14px;
  font-size: 16px;
  margin: 10px;
}

.footer {
  background-color: #32383d;
  border-radius: 12px;
  padding: 12px 36px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
